{% extends "base_page.html" %}
{% load static %}

{% block heading %} {{ title }} {% endblock %}

{% block main %}

<div class="grid-row">


    <table class="table grid-item">
        <thead>
            {% for header in table_headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.resume }}</td>
                <td>{{ d.resume2 }}</td>
                <td>{{ d.resume3 }}</td>
                <td>{{ d.company }}</td>
                <td> <a class="btn btn-update grid-item" href="{% url 'cover_letter_update' pk=d.id %}">Update</a> </td>
                <td> <a class="btn btn-print grid-item" href="{% url 'cover_letter_as_pdf' pk=d.id %}"
                        role="button" target="_blank">Print CV</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<a class="btn btn-bolder btn-update" href="{% url 'cover_letter_create' %}" role="button">New Letter</a>


{% endblock %}