{% extends 'base_page.html' %}
{% load static %}

{% block main %}

<a class="admin-a" href="admin/">Admin</a>


<div class="card-group">
  <div class="card" id="card1">
    <a href="{% url 'company' %}">Companies</a>
  </div>
  <div class="card" id="card2">
    <a href="{% url 'cover_letter' %}">Cover Letter</a>
  </div>
  <div class="card" id="card3">
    <a href="{% url 'personal_info' %}">User Information</a>
  </div>
  <div class="card" id="card4">
    <a href="{% url 'job' %}">Job</a>
  </div>
  <div class="card" id="card5">
    <a href="{% url 'study' %}">Study</a>
  </div>
  <div class="card" id="card6">
    <a href="{% url 'social_media' %}">Social Media</a>
  </div>
  <div class="card" id="card7">
    <a href="{% url 'language' %}">Language</a>
  </div>
  <div class="card" id="card8">
    <a href="{% url 'soft_skill' %}">Soft Skill</a>
  </div>
  <div class="card" id="card9">
    <a href="{% url 'hard_skill' %}">Hard Skill</a>
  </div>
</div>

{% endblock %}
